<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #div1{
            border: red 1px solid;
            width: 550px;
            margin: 0 auto;
            text-align: center;
            font-size: 20px;
            background-color: #1e5cba;
            color: white;
        }
        #div2{
            border: red 1px solid;
            height: 20px;
            background-color: #1b6d85;
        }
    </style>
</head>
<body>
    <div id="div2">
        <b style="color: #ffffff">商品信息操作》》》增加商品</b>
    </div>
    <div id="div1">
        <form action="/insertCommodity" method="post" name="form">
            商品名称: <input type="text" name="commodityName" /><br><br>
            商品价格: <input type="text" name="price" /><br><br>
            商品折扣: <input type="text" name="agio" /><br><br>
            <input type="submit" value="增加" />
        </form>
    </div>
</body>
</html>