<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            margin: 0 auto;
            padding: 0;
            text-align: center;
        }
        .td1{
            width: 300px;
        }
        .td2{
            width: 100px;
        }
    </style>
</head>
<body>
<table border="1">
    <tr>
        <td class="td1">读者类型名称</td>
        <td class="td1">可借数量</td>
        <td class="td2">修改</td>
        <td class="td2">删除</td>
        <td><a href="addreaders.html">增加</a></td>
    </tr>
    <tr th:each="list,readers:${readerslist}">
        <td th:text="${list.getName()}"></td>
        <td th:text="${list.getNumber()}"></td>
        <td><a th:href="@{'readersupdate?id='+${list.getId()}}">修改</a></td>
        <td><a th:href="@{'removereaders?id='+${list.getId()}}">删除</a></td>
    </tr>
</table>
</body>
</html>