<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form{
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
<form action="updateusertwo" method="POST">
    <input style="display: none" name="userid" type="text" th:value="${user.getUserid()}">
    新的管理员名称:<input type="text" name="username" th:value="${user.getUsername()}"><br><br>
    新的管理员密码:<input type="text" name="password" th:value="${user.getPassword()}"><br><br>
    <input type="submit" value="确认修改">
</form>
</body>
</html>