<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #div1{
            border: red 1px solid;
            width: 550px;
            margin: 0 auto;
            text-align: center;
            font-size: 20px;
            background-color: #1e5cba;
            color: white;
        }
        #div2{
            border: red 1px solid;
            height: 20px;
            background-color: #1b6d85;
        }
    </style>
</head>
<body>
<div id="div2">
    <b style="color: #ffffff">VIP信息操作》》》增加VIP信息</b>
</div>
<div id="div1">
    <form action="" method="post">
        VIP性名: <input type="text" name="name" /><br><br>
        VIP年龄: <input type="text" name="age" /><br><br>
        VIP职业: <input type="text" name="profession" /><br><br>
        VIP入会时间: <input type="datetime-local" name="joinTime" /><br><br>
        <input type="submit" value="增加" />
    </form>
</div>
</body>
</html>