<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psfd.demo.mapper.ReadersMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.psfd.demo.entity.ReadersMessage">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="barcode" property="barcode" />
        <result column="vocation" property="vocation" />
        <result column="birthday" property="birthday" />
        <result column="papertype" property="papertype" />
        <result column="paperno" property="paperno" />
        <result column="tel" property="tel" />
        <result column="email" property="email" />
        <result column="createdate" property="createdate" />
        <result column="operator" property="operator" />
        <result column="remark" property="remark" />
        <result column="typeid" property="typeid" />
    </resultMap>

</mapper>
